/* Fuentes*/
@font-face{
	font-family: "fuente";
	src: url(../fonts/Freshman.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* generales*/
*{
	margin: 0px;
	padding: 0px;
	font-family: , Helvetica, Arial;
	text-decoration: none;

}
.clearfix{
	clear: both;
	float: none;
}

body{

}

.alerta{
	padding: 5px;
	font-size: 14px;
	color:white;
	background: green;
	box-shadow: 0px 1px 3px #ccc;
	margin-bottom: 15px;
	border-radius: 5px;
}
.alerta-error{
	background: red;
}


/* cabecera */

#header{
	width: 100%;
	height: auto;
	background: lightblue;
	margin: 0px auto;
}

/*logotipo*/
#logo{
	margin: 0 auto;
	width: 540px;
	height: 140px;
}

#logo a{
	font-family: "fuente", helvetica;
	font-size: 30px;
	letter-spacing: 2px;
	color: #2979CD;
	text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
	transition: all 500ms;
}

#logo a:hover{
	cursor: pointer;
	text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}
#principal{
	border-color: grey;
	display: block;
	width: 90%;
	margin: 20px auto;
	padding:20px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset;
	background: lightgrey;
}
/*Login*/
#container{
	width: 30%;
	min-height: auto;
	margin: 0 auto;
	margin-bottom: 15px;
	border-color: grey;
}
.block{
	background: lightblue;
	display: block;
	width: 90%;
	margin: 20px auto;
	padding:20px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset;
}

.block h3{
	margin-bottom: 15px;
}
label, 
input[type="text"], 
input[type="email"], 
input[type="password"]{
	display: block;
	width: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: impact;
	color: black;
}
input[type="text"], 
input[type="email"], 
input[type="password"]{
	margin-bottom: 10px;
	padding:5px;
}
input[type="button"], 
input[type="submit"],
.boton{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	border-radius: 3px;
	padding: 10px;
	color: white;
	background: #007ee5;
	border: 1px solid #156785;
	cursor: pointer;
	width: 120px;
	margin: 0px auto;
	padding: 7px;
	
}
.boton{
	text-align: center;
	width: 100px;

}
/*pie de pagina*/

#footer{
	clear: both;
	width: 80%;
	margin: 0px auto;
	background: lightblue;
	border: 1px solid #c9c9c9c9;
	border-bottom: none; 
	border-radius: 8px 8px 0px 0px;
	height: auto;
	padding: 15px;
	text-align: center;
}
.table{
	text-indent: 30px;

}
